html {
    color: var(--clr1);
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.2rem;
}

body {
    background-color: var(--clr4);
    font-size: 1.6rem;
    text-align: center;
}




.close {
    display: none;
}

@media screen and (max-width: 600px) {
    #my_canvas {
        width: 250px;
        height: 250px;
    }
}