.main-box {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 500px));
    text-align: center;
    justify-content: space-between;
    margin-top: 80px;
}

.main-box * {
    grid-column: 2;
    grid-row: 2;
}

.main-box .canvas-container {
    grid-column: 1;
}

#my-canvas {
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 15px;
    height: 450px;
    margin: 25px 25px;
    overflow: hidden;

}